.app {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 12%;
}
input {
  width : 300px;
  height : 20px;
}
.btn1 {
  margin-left: 80px;
}
h3 {
  margin-left: 50px;
}
h1 {
  margin-left: 43px;
}